.banner{
    background: url('../../../src/IMG/Index/testHeader.jpg') no-repeat center center;
     background-size: cover; 
   width: 100%; 
    height: 80vh;
    z-index: 0;      
}

.banner .titulo{
    font-size: 3.5rem;
    text-align: center;
    padding-top: 6rem;
    text-transform: uppercase;
    color: black;
}

.banner .slogan{
font-size: 2rem;
text-align: center;
padding: 1rem 2rem;
color: black;
}

.banner .boton{
        display: block;
        margin: 1rem auto;
        padding: 0.75rem 0;
        width: 60vw;
        border: 1px solid rgb(255, 11, 11);
        border-radius: 6px;
        background-color: red;
        color: white;
        text-align: center;
}

.btn:hover{
    background-color: rgb(214, 33, 33)!important;
    border-color: red!important;
}

@media (min-width: 768px) {

    .banner .titulo{
        font-size: 4rem;
        text-align: center;
        padding-top: 8rem;
        text-transform: uppercase;
    }

    .banner .boton{
    width: 45vw;
}
}

@media (min-width: 1024px) {

    .banner .titulo{
        font-size: 4.5rem;
        text-align: center;
        padding-top: 10rem;
        text-transform: uppercase;
    }

    .banner .slogan{
        font-size: 1.75rem;
        text-align: center;
        padding: 1rem 2rem;
        }

    .banner .boton{
    width: 25vw;
}
}